# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Environments
.env
.venv
env/
venv/
ai-e-comm/

# PyInstaller
#  Usually these files are created by a PyInstaller script from a 'spec' file
#  in a single directory, so just add that directory to your .gitignore.
#  For example, if you output PyInstaller builds to 'build/pyinstaller', add
#  'build/pyinstaller' to your .gitignore.
#
#  See https://pyinstaller.readthedocs.io/en/stable/spec-files.html
#
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# IDE directories
.vscode/
.idea/

# OS-specific files
.DS_Store

# Logs
logs/
*.log 